<%
  classes ||= ""

  # Include behavior module
  extend UI::AvatarFallbackBehavior

  # Get HTML attributes from behavior
  attrs = avatar_fallback_html_attributes
  all_classes = attrs[:class]
  data_attrs = attrs[:data]
%><span class="<%= all_classes %>" data-ui--avatar-target="fallback" data-slot="<%= data_attrs[:slot] %>">
  <%= yield %>
</span>
