<%# Select Item - Individual selectable option %>
<%
  @as_child = local_assigns.fetch(:as_child, false)
  @classes = local_assigns.fetch(:classes, "")
  @attributes = local_assigns.fetch(:attributes, {})
  @value = local_assigns.fetch(:value, nil)
  @disabled = local_assigns.fetch(:disabled, false)

  # Extend behavior for shared logic
  extend ::UI::SelectItemBehavior

  # Get HTML attributes from behavior
  item_attrs = select_item_html_attributes.deep_merge(@attributes)
-%>
<% if @as_child %>
  <%# asChild mode: capture block and inject attributes into first element %>
  <% captured_content = capture { yield } %>
  <%= raw captured_content.sub(/(<[a-z][a-z0-9]*)([\s>])/i) { |match|
    tag_start = $1
    tag_end = $2

    # Build attributes string manually
    attrs_array = item_attrs.map do |key, value|
      key_name = key.to_s.gsub('_', '-')
      if key == :data && value.is_a?(Hash)
        # Handle data attributes
        value.map { |k, v| "data-#{k.to_s.gsub('_', '-')}=\"#{ERB::Util.html_escape(v)}\"" }.join(" ")
      elsif value.is_a?(TrueClass)
        key_name
      elsif value.is_a?(FalseClass) || value.nil?
        nil
      else
        "#{key_name}=\"#{ERB::Util.html_escape(value)}\""
      end
    end.compact.join(" ")

    "#{tag_start} #{attrs_array}#{tag_end}"
  } %>
<% else %>
  <%# Default mode: render as div %>
  <%= content_tag :div, item_attrs do %>
    <span class="flex-1"><%= yield %></span>
    <%# Checkmark icon - hidden by default, shown when selected %>
    <svg data-ui--select-target="itemCheck" class="ml-auto size-4 opacity-0 transition-opacity" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 6 9 17l-5-5"/>
    </svg>
  <% end %>
<% end %>
