<%
  # Avatar - ERB Partial
  #
  # Displays an image element with a fallback for representing users.
  #
  # @param classes [String] Additional CSS classes to merge

  @classes = local_assigns.fetch(:classes, "")

  # Include behavior module
  extend UI::AvatarBehavior

  # Get HTML attributes from behavior
  attrs = avatar_html_attributes
%><span class="<%= attrs[:class] %>" data-controller="<%= attrs[:data][:controller] %>" data-slot="<%= attrs[:data][:slot] %>">
  <%= yield %>
</span>
