<%
  classes ||= ""

  # Include behavior module
  extend UI::AvatarBehavior

  # Get HTML attributes from behavior
  attrs = avatar_html_attributes
  all_classes = attrs[:class]
  data_attrs = attrs[:data]
%><span class="<%= all_classes %>" data-controller="<%= data_attrs[:controller] %>" data-slot="<%= data_attrs[:slot] %>">
  <%= yield %>
</span>
