<%
  variant ||= :default
  classes ||= ""

  # Instance variables for behavior module
  @variant = variant
  @classes = classes

  # Include behavior module
  extend UI::BadgeBehavior

  # Get HTML attributes from behavior
  attrs = badge_html_attributes
  all_classes = attrs[:class]
  data_attrs = attrs[:data]
%><span class="<%= all_classes %>" data-slot="<%= data_attrs[:slot] %>">
  <%= yield %>
</span>
