<%# Dropdown Menu Checkbox Item Component - Menu item with checkbox state %>
<%
  content ||= local_assigns.fetch(:content, nil)
  @classes = local_assigns.fetch(:classes, "")
  @attributes = local_assigns.fetch(:attributes, {})
  @disabled = local_assigns.fetch(:disabled, false)
  @checked = local_assigns.fetch(:checked, false)

  # Extend behavior for shared logic
  extend UI::DropdownMenu::DropdownMenuCheckboxItemBehavior

  # Get HTML attributes from behavior
  all_attributes = dropdown_menu_checkbox_item_html_attributes.deep_merge(@attributes)
-%>
<%= content_tag :div, all_attributes do %>
  <span class="pointer-events-none absolute left-2 flex size-3.5 items-center justify-center">
    <% if @checked %>
      <span data-state="checked">
        <%= lucide_icon("check", class: "size-4") %>
      </span>
    <% end %>
  </span>
  <%= content || yield %>
<% end %>
